[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
PIPENV_VENV_IN_PROJECT = 1

[scripts]
dev = "uvicorn main:app --reload"
start = "uvicorn main:app"
test = "pytest"
lint = "ruff ."

[packages]
fastapi = "==0.110.2"
pillow = "==10.3.0"
requests = "==2.31.0"
uvicorn = {extras = ["standard"], version = "*"}
pytest = "==8.1.1"
httpx = "==0.27.0"
ruff = "==0.4.1"
fastapi-analytics = "==1.2.2"
python-dotenv = "==1.0.1"
pydantic-settings = "==2.2.1"

[dev-packages]

[requires]
python_version = "3.10"

