[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
PIPENV_VENV_IN_PROJECT = 1

[scripts]
dev = "uvicorn main:app --reload"
start = "uvicorn main:app"
test = "pytest"
lint = "ruff ."
# stop the build if there are Python syntax errors or undefined names
lint-github-stop-if-syntax-errors-or-undefined = "ruff --format=github --select=E9,F63,F7,F82 --target-version=py37 ."
# default set of ruff rules with GitHub Annotations
lint-github = "ruff --format=github --target-version=py37 ."

[packages]
fastapi = "==0.101.1"
pillow = "==10.0.0"
requests = "==2.31.0"
uvicorn = {extras = ["standard"], version = "*"}
pytest = "==7.4.0"
httpx = "==0.24.1"
ruff = "==0.0.284"
fastapi-analytics = "==1.1.4"
python-dotenv = "==1.0.0"
pydantic-settings = "==2.0.3"

[dev-packages]

[requires]
python_version = "3.10"

