[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
PIPENV_VENV_IN_PROJECT = 1

[scripts]
dev = "uvicorn main:app --reload"
start = "uvicorn main:app"
test = "pytest"
lint = "ruff ."

[packages]
fastapi = "==0.104.0"
pillow = "==10.1.0"
requests = "==2.31.0"
uvicorn = {extras = ["standard"], version = "*"}
pytest = "==7.4.2"
httpx = "==0.25.0"
ruff = "==0.1.1"
fastapi-analytics = "==1.1.4"
python-dotenv = "==1.0.0"
pydantic-settings = "==2.0.3"

[dev-packages]

[requires]
python_version = "3.10"

